<section {{ attributes }}>
  <div {{ region_attributes.first.addClass('first') }}>
    {{ content.first }}
  </div>
  <div {{ region_attributes.second.addClass('second') }}>
    {{ content.second }}
  </div>
    <div {{ region_attributes.third.addClass('third') }}>
    {{ content.third }}
  </div>
  <div {{ region_attributes.four.addClass('four') }}>
    {{ content.four }}
  </div>
  <div {{ region_attributes.five.addClass('five') }}>
    {{ content.five }}
  </div>
  <div {{ region_attributes.six.addClass('six') }}>
    {{ content.six }}
  </div>
</section>
