<section {{ attributes }}>
  <div {{ region_attributes.left.addClass('left') }}>
    {{ content.left }}
  </div>
  <div {{ region_attributes.right.addClass('right') }}>
    {{ content.right }}
  </div>
</section>
